withNavigation/node_modules/**/*
withNavigation/.expo/*
withNavigation/web-build/
withBottomTabs/node_modules/**/*
withBottomTabs/.expo/*
withBottomTabs/web-build/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*


# macOS
.DS_Store
